<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Moment - Watch Website</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <% if (message) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
