<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Moment - Watch Website</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Password Reset</h1>

<% if (message) { %>
    <h3><%= message %></h3>
<% } %>

<form action="" method="post">
    <input type="text" name="password" required placeholder="Enter Password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input type="submit" value="Reset Password">
</form>

</body>
</html>
